body {
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid black;
}

header .header {
    position: relative;
    padding: 30px 0 30px;
}

header .header h1 {
    font-size: 25px;
    font-weight: 700;
}

header .header .bag {
    right: 0;
    position: absolute;
    justify-content: end;
}

header .header .bag span {
    vertical-align: super;
}

header > div > div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    min-width: 360px;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    height: auto;
    overflow: auto;
    background-color: #f7f7f7;
}

.container > .container {
    background-color: #fff;
}

.bag > div {
    position: absolute;
    right: 0;
}

nav.desktop {
    width: 30%;
    display: flex;
    justify-content: space-between;
    margin: 0 35%;
    font-weight: 700;
}

nav.desktop > a {
    padding: 0 0 30px 0;
}

.mobile {
    display: none;
    position: absolute;
    width: 100%;
    top: 15px;
    left: 0;
}

.mobile div {
    display: none;
    margin-top: 13px;
}

.mobile span {
    color: #000;
    font-weight: 700;
    font-size: 12px;
}

.mobile button {
    border: 0;
    background: #f7f7f7 url("img/icon-hamburger.svg") center no-repeat;
    color: transparent;
}

.mobile a {
    display: block;
    background: #eee;
    text-align: center;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
    text-decoration: none;
    color: #000;
    font-weight: 700;
}

span, a {
    text-align: left;
    color: #555;
    text-decoration: none;
}

.subtitle {
    font-weight: 700;
    padding: 20px 10px 30px;
    font-size: 14px;
}

label {
    padding-left: 10px;
    font-weight: 700;
    font-size: 12px;
}

.center {
    text-align: center;
}

.row {
    display: flex;
    justify-content: space-around;
}

.section {
    width: 50%;
    max-width: 300px;
}

.section:nth-child(even) {
    order: 1;
}

.section:nth-child(odd) {
    order: 2;
}

input[type=text] {
    width: 100%;
    padding: 14px 12px;
    margin: 8px 0 12px;
    box-sizing: border-box;
    border: 1px solid #bbb;
    border-radius: 4px;
}

input[type=text]:focus {
    border: 1px solid #5B1A8E;
}

input[type=submit] {
    background-color: #5B1A8E;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    border-radius: 4px;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
}

#disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

select {
    width: 100%;
    padding: 16px 20px;
    border: 1px solid #bbb;
    margin: 8px 0 12px;
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("img/icon-expand.svg");
    background-position: right center;
    background-repeat: no-repeat;
}

select::-ms-expand {
    display: none;
}

select:focus {
    border: 1px solid #5B1A8E;
}

label.required:after {
    position: absolute;
    content: '';
    background-color: #FF0000;
    margin: 2px 2px 0;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    line-height: 25px;
    pointer-events: none;
}

.cart img {
    width: 100%;
}

.cart .image {
    max-width: 100px;
    float: left;
    width: 30%;
}

.name {
    padding: 0 0 5px;
    font-weight: 700;
    color: #bbb;
}

.counter {
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
}

.counter .image {
    max-width: 25px;
}

.specs {
    width: 70%;
    float: right;
    margin-left: 20px;
}

.item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0;
}

.summary {
    line-height: 30px;
}

@media (max-width: 767px) {
    .mobile {
        display: block;
    }
    nav.desktop {
        display: none;
    }
    header .header {
        padding: 10px 0;
    }
    header .header h1 {
        font-size: 15px;
        font-weight: 700;
        line-height: 30px;
        margin: 0;
    }
    .row {
        justify-content: center;
        flex-wrap: wrap;
    }
    .section {
        max-width: unset;
        width: 100%;
    }
    .container {
        overflow: unset;
    }
    .section {
        order: 2;
    }
    .section:first-child {
        order: 1;
    }
    .section {
        padding: 0 10px;
    }
    .header {
        padding: 5px;
        width: unset;
    }
}
